fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
passlib[bcrypt]
bcrypt==3.2.2
python-jose[cryptography]
python-multipart
jinja2
httpx
python-dotenv
langchain
langgraph
langchain-openai
langchain-huggingface
faiss-cpu
pypdf
sentence-transformers
